<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#3FC1C9" />

  <link rel="icon" href="./favicon.png">
  <title>Home | Acielana's Restaurant</title>
</head>

<body>
  <a href="#main-content" class="main__content">Main Content</a>
  <header class="header">
    <div class="header__inner">
      <h1 class="header__title">Acielana</h1>
    </div>
    <button class="nav__menu" id="hamburgerButton">☰</button>
    <nav class="nav" id="navigationDrawer">
      <ul class="nav__list">
        <li class="nav__item"><a href="#/home">Home</a></li>
        <li class="nav__item"><a href="#/favourite">Favourite</a></li>
        <li class="nav__item"><a href="https://instagram.com/acielana" target="_blank">About</a></li>
      </ul>
    </nav>
  </header>
  <main class="main" id="main-content" tabindex="0"></main>
  <footer-element></footer-element>
  <script src="https://kit.fontawesome.com/2e629aa96f.js" crossorigin="anonymous"></script>
</body>

</html>